// Overrides for terminal.css

.terminal {

    .terminal-prompt,
    .terminal-prompt h1 {
        font-size: calc(var(--global-font-size) * 1.2);
    }

    .terminal-card {
        .btn.btn-ghost {
            border: {
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
    }

    .terminal-card-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        margin-bottom: 25px;

        .terminal-card:first-child {
            margin-right: 25px;
        }
    }

    .terminal-timeline {
        position: relative;
        padding-left: 70px;

        &:before {
            content: ' ';
            background: var(--secondary-color);
            display: inline-block;
            position: absolute;
            left: 35px;
            width: 2px;
            height: 100%;
            z-index: 400;
        }

        .terminal-card {
            margin-bottom: 25px;
        }

        .terminal-card:before {
            content: ' ';
            background: var(--invert-font-color);
            border: 2px solid var(--secondary-color);
            display: inline-block;
            position: absolute;
            margin-top: 25px;
            left: 26px;
            width: 15px;
            height: 15px;
            z-index: 400;
        }
    }
}

.terminal-menu li a:not(.btn) {
    padding: 15px 0;
}
